.container-one {
  margin: 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 45rem;
  height: auto;
  width:fit-content;
  overflow: hidden;
  border: solid rgb(63, 0, 0) 2px;
}

.img-comp-img {
  display: flex;
  object-fit: fill;
  flex: 1 1 0;
  position: absolute;
  max-width: 100%;
  height: auto;
}

.img-comp-overlay {
  display: flex;
  flex: 1 1 0;
  max-width: 100%;
  height: auto;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);

}

#slider {
  appearance: none;
  position: absolute;
  width: calc(100% + 10%);
  height: 15px;
  background-color: transparent;
  outline: none;
}

#slider::-webkit-slider-thumb {
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgb(214, 118, 74);
  background-size: contain;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
