.continer-two {
  margin: 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: solid rgb(63, 0, 0) 2px;
  max-width: 100rem;
  height: auto;
}

.img-comp2 {
  display: flex;
  flex: 1;
  position: absolute;
  max-width: 100%;
  height: auto;
}

.img-overlay2 {
  display: flex;
  flex: 1;
  max-width: 100%;
  height: auto;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider2 {
  appearance: none;
  position: absolute;
  width: calc(100% + 5%);
  height: 15px;
  background-color: transparent;
  outline: none;
}

#slider2::-webkit-slider-thumb {
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgb(214, 118, 74);
  background-size: contain;
  cursor: pointer;
}

#slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
