*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(105, 113, 114);
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 65vmin;
  width: auto;
  overflow: hidden;
}

.img-comp-img {
  position: absolute;
  height: 65vmin;
  width: 100%;
}

.img-comp-overlay {
  height: 65vmin;
  width: 100%;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider {
  appearance: none;
  position: absolute;

  width: calc(100% + 40px);
  height: 15px;
  background-color: transparent;
  outline: none;
}

#slider::-webkit-slider-thumb {
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgb(214, 118, 74);
  background-size: contain;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
